* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../pics/bg-wool-dark.png");
}

/* MENU SCREEN */
#menu-screen {
  min-width: 100vw;
  min-height: 100vh;

  background-image: url("../pics/main-menu-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* GAME SCREEN */
#game-grid {
  display: grid;
}

.grid-cell {
  /* This line makes sure when a background-image is added it is fitted and centered correctly inside the cell*/
  background: no-repeat center /cover;
  background-color: rgb(0, 183, 255);
  cursor: pointer;
}

#tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  width: min-content;

  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#inventory-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;

  width: min-content;

  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.tool,
.item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #444;
  border: solid #999 3px;
  border-radius: 5px;

  cursor: pointer;

  height: 5vw;
  width: 5vw;

  position: relative;

  color: white;

}

.selected {
  border-color: yellow;
  color: yellow;
}

.display-none{
  display: none;
}

.item>p {
  text-align: center;

  height: 30px;
  width: fit-content;

  font-size: 1.5rem;

  position: absolute;
  bottom: 0;
  right: 0;

  background-color: rgba(68, 68, 68, 0.397);
  border-radius: 50px;
}

/* #minecraft-logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../pics/logo-minecraft.svg");
  background-position: center;
  //background-size: cover;
  background-repeat: no-repeat;

  width: 10vw;
  height: 5vh;
} */

/* TOOLS */
#pickaxe{
  background-image: url("../pics/tools/pickaxe.png");
}
#axe{
  background-image: url("../pics/tools/axe.png");
}
#shovel{
  background-image: url("../pics/tools/shovel.png");
}

/* TEXTURES */
.cobblestone {
  background-image: url("../pics/textures/cobblestone.webp");
}

.oak-log {
  background-image: url("../pics/textures/oak_log.webp");
}

.spruce-log {
  background-image: url("../pics/textures/spruce_log.webp");
}

.oak-leaves {
  background-image: url("../pics/textures/oak_leaves.webp");
}

.spruce-leaves {
  background-image: url("../pics/textures/spruce_leaves.webp");
}

.grass {
  background-image: url("../pics/textures/grass.webp");
}

.snowy-grass {
  background-image: url("../pics/textures/snowy_grass.webp");
}

.dirt{
  background-image: url("../pics/textures/dirt.webp");
}

.sand {
  background-image: url("../pics/textures/sand.webp");
}

.cactus {
  background-image: url("../pics/textures/cactus.webp");
}
